.swiper {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
  
 
  
  .teacher-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .teacher-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .teacher-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #08dd61;
  }
  
  .swiper-pagination-bullet {
    background: #08dd59;
  }
  